{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
    <div class="columns small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell">
        <h3 class="text-center">Login</h3>
        <form action="/login/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <label>{{ form.username.label_tag }}</label>
            {{ form.username }}
            <label>{{ form.password.label_tag }}</label>
            {{ form.password }}
            <input type="submit" class="button expanded" value="Login" />
            <a href="/register/" class="secondary button expanded">Register</a>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </form>
    </div>
</div>
{% endblock %}