
.icon-attach:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */